<html>
<head>
    <title>Programación Web</title>
</head>

<body style="background: #c5cbfb">


    
        <label style="font-size: 40px">Materia: Programación Web</label><br/>
        <label style="font-size: 40px">Séptimo semestre</label><br/>
        <form>
            <label style="font-size: 40px">Periodo: Agosto - Diciembre 2021</label><br />
            <label style="font-size: 40px">Dariela Judith García Zuñiga</label> <br />

        </form>


</body>

</html>
