<html>
<head>
    <title>Mi Perfil</title>
</head>

<body>
    <h1>Mi Perfil</h1>


    <form>
        <img src="~/icon.png" height="100" width="100" /><br />
        <label style="font-weight: 200">Nombre</label><br />
        <label>      Dariela Judith García Zuñiga</label><br />
        <label>Edad</label><br />
        <label>      22</label><br />
        <label>Fecha de nacimiento</label><br />
        <label>      08-09-1999</label><br />
        <label>CURP</label><br />
        <label>      GAZD990908MCLRXR01</label><br />
    </form>
</body>
</html>
